<div class="container">
    <div class="boxs"></div>
    <div class="row" style="box-shadow:0 4px 8px rgba(0,0,0,.2);border-radius:10px;">
      <div class="col-12 col-sm-8">
        <div class="base-title">
          <h1>Producter</h1>
          <p>ローカルに眠ったアプリを管理。<br>
            公開/シェアして盛り上がっていこう!!</p>
        </div>
      </div>
      <div class="base-image col-12 col-sm-4">
        <img width="130" height="120" src="/static/images/9363.png" alt="treasure-picture">
      </div>
    </div>
</div>