<div class="click-menu">
    <div class="menu-content mt-5 mt-sm-5" style="text-align:center;">
        <div class="menus">
            <a href="/users" class="menu-link"><i class="fa fa-user "> ログイン</i></a>
          </div>
        <div class="menus">
            <a href="/users/signup" class="menu-link"><i class="fa fa-user-plus "> ユーザー登録</i></a>
        </div>
    </div>
</div>