<header>
    <div class="logo">
      <div class="menu-btn">
        <a class="menu-link">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <h1>Producter</h1>
    </div>
    <% if(mode === 1){ %>
        <nav>
            <ul class="global-nav">
              <li><a data-toggle="modal" data-target="#modal"><i class="fa fa-search "></a></i></li>
            </ul>
        </nav>
    <% } %>
</header>