<div class="click-menu">
  <div class="menu-content mt-sm-5" style="text-align:center;">
    <div class="menus">
      <a href="/lists/mypage" class="menu-link"><i class="fa fa-male "> マイページ</i> </a>
    </div>
    <div class="menus">
      <a href="/create" class="menu-link"><i class="fa fa-pencil menu-font"> 新規投稿</i></a>
    </div>
    <div class="menus">
      <a href="/lists/" class="menu-link"><i class="fa fa-sort-numeric-asc "> 新規順</i></a>
    </div>
    <div class="menus">
      <a href="/lists/goodranking" class="menu-link"><i class="fa fa-thumbs-o-up "> 人気順</i></a>
    </div>
    <div class="menus">
      <a href="/lists/lists_good" class="menu-link"><i class="fa fa-heart "> いいねした投稿</i></a>
    </div>
    <div class="menus">
      <a href="/users/logout" class="menu-link"><i class="fa fa-caret-square-o-right "> ログアウト</i> </a>
    </div>
    <div class="menus">
      <a href="/users" class="menu-link"><i class="fa fa-caret-square-o-left "> ログイン</i></a>
    </div>
    <div class="menus">
      <a href="/users/signup" class="menu-link"><i class="fa fa-group "> Sign Up</i></a>
    </div>
  </div>
</div>
