<!DOCTYPE html>
<html>
  <head>
    <title>LocTreローカルに眠っているアプリを管理</title>
    <meta name="viewport" content="width=device-width,user-scalable=yes,maximum-scale=2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="top">
    <header>
      <div class="logo" style="margin:20px 0 0 40px;">
        <h1 style="font-family:'Bitter';">-LocTre-<span class="nomal-font">ローカルを整理</span></h1>
      </div>
      <nav>
        <ul class="global-nav">
          <li><a href="/users/signup">登録する</a></li>
          <li><a href="/users">ログイン</a></li>
        </ul>
      </nav>
    </header>
    <div id="main">
      <div class="top-image">
        <img height="500" width="500" style="border:3px solid yellow;border-radius:250px;" src="images/loctre_treasure.png" alt="loctre_picture">
      </div>
      <div class="top-title">
        <h1>LocTre</h1>
      </div>
      <div class="top-content">
        <p>過去にローカルで作って忘れかけているアプリを管理するサービス<br>
          みんなの宝物をみてシェアして盛り上がろう</p>
      </div>
      <div class="top-start-btn">
        <p><a href="lists/1">はじめてみる</a></p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  </body>
</html>
