/* スマホ用 */
@media screen and (max-width:480px){
  /* base */
  h1,h2,h3,h4,h5,h6{
    margin:0;
  }
  h2{
    font-size:1.3rem;
  }
  body{
    padding:0;
    margin:0;
    font-size:14px;
  }

  /* ログイン(フォーム) */
  .mini-ul{
    font-size:.8rem;
    margin-bottom:.3rem;
  }
  .form-control{
    font-size:.8rem;
    height:calc(1.75rem + 2px);
  }
  .login-btn{
    font-size:1rem;
    width:100px;
  }
  .login-form{
    width:100%;
    margin:0 auto;
  }

  /* 全一覧 */
  .global-nav li{
    float:left;
    margin:0 20px;
    font-size:24px;
    list-style:none;
  }
  #main .base-title h1{
    font-family:'Bitter',serif;
    font-size:1.5rem;
    margin-top:10px;
  }
  #main .base-title p{
    padding-top:15px;
    font-size:14px;
    font-family:arial;
  }
  #main {
    position:relative;
    margin-top:40px;
  }
  #main .base-image img{
    height:80px;
    width:80px;
    display:block;
    margin:0 auto;
  }
  #main .click-menu{
    position:fixed;
    top:-100%;
    left:0;
    width:100%;
    height:100%;
    border-right:1px solid #666;
    transition:0.5s ease-out;
    background:#fff;
  }
  #main .click-menu.open{
    top:50px;
    transition:0.5s ease-out;
    background:#fff;
  }
  #main .boxs{
    height:1rem;
    width:100%;
  }
  .menu-content .menus{
    font-size:24px;
    line-height:2;
  }
  .menu-content .menus .menu-link{
    color:#333;
  }
  .menu-content .menus .menu-link:hover{
    border-bottom:1.5px solid #333;
  }
  #main .container{
    transition:1s ease-out;
  }
  #main .container.open{
    width:100%;
    margin:0 0 0 auto;
    transition:1s ease-out;
  }
  .h2-mini-size{
    font-size:1.3rem;
  }

  /* top */
  #top header{
    width:100%;
  }
  #top .logo{
    background-color:yellow;
    height:70px;
  }
  #top .logo h1{
    padding:15px 0 0 18px;
  }
  .logo span{
    font-size:25px;
    font-family:arial;
  }
  #top header nav{
    width:100%;
    height:40px;
  }
  #top .global-nav{
    margin:0;
    padding:0;
    height:40px;
    margin-left:60px;
  }
  #top .global-nav li a{
    color:#666;
  }
  #top .global-nav li a:hover{
    border-bottom:2px solid #ffffff;
    text-decoration:none;
  }
  #top{
    clear:both;
  }
  .top-title h1{
    font-size:60px;
    line-height:1;
    color:#ffd744;
    font-family:'Bitter',serif;
    margin-left:40px;
    margin-top:20px;
  }
  .top-image{
    clear:both;
  }
  .top-image img{
    height:250px;
    width:250px;
    display:block;
    margin:0 auto;
    border:1px solid yellow;
    border-radius:50%;
  }
  .top-content{
    margin:40px;
    margin-top:30px;
    margin-right:10px;
  }
  .top-content p{
  }
  .top-start-btn p a{
    background-color:#009cd3;
    color:#fff;
    font-size:20px;
    font-family:'Bitter',serif;
    width:185px;
    display:block;
    text-align:center;
    line-height:50px;
    border-radius:5px;
    border:3px solid #009cd3;
    margin-left:40px;
  }
  .top-start-btn p a:hover{
    text-decoration:none;
    background-color:#fff;
    color:#009cd3;
  }

  /* lists */
  #lists header,#detail header{
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    width:100%;
    height:50px;
    margin:0 auto;
    background-color:yellow;
  }
  #lists .logo,#detail .logo{
    float:left;
    color:#333;
    font-family:'Bitter',serif;
  }
  #lists .logo .menu-btn,#detail .logo .menu-btn{
    float:left;
    height:50px;
    width:4.5rem;
  }
  #lists .logo .menu-link,#detail .logo .menu-link{
    color:#999;
    font-size:35px;
    margin-left:20px;
  }
  #lists .logo .menu-btn:hover,#detail .logo .menu-btn:hover{
    text-decoration:none;
    opacity:0.8;
    background-color:#ffd700;
  }
  #lists .logo h1,#detail .logo h1{
    /* margin-top:10px; */
    color:#333;
    font-family:'Bitter',serif;
    float:right;
    margin-left:30px;
    /* margin-left:150px; */
  }
  #lists .global-nav,#detail .global-nav{
    height:50px;
  }

  #lists .global-nav li,#detail .global-nav li{
    float:left;
    /* margin-top:12px; */
    margin-left:50px;
    list-style:none;
    font-size:35px;
    color:#666;
  }
  #lists .global-nav li:hover,#detail .global-nav li:hover{
    opacity:0.8;
    cursor:pointer;
  }
  .card-header a img{
    height:180px;
    width:300px;
    border:1px solid #ddd;
  }
  .card-body .card-title h4{
    font-size:1.2rem;
  }
  .card-body{
    padding-top:1rem;
  }
  .create-image{
    width:100%;
    border:1px solid #ddd;
  }
  .signup-image{
    width:310px;
    border:1px solid #ddd;
  }
  .detail-img img{
    height:220px;
    width:340px;
  }
  .detail-description-title{
    border-bottom:2px solid #999;
    font-size:25px;
    font-family:serif;
    font-weight:bold;
  }
  .detail-producter{
    border-bottom:2px solid #999;
    font-size:22px;
    font-family:serif;
    font-weight:bold;
  }
  .responsive-input{
    width:310px;
  }
  .profile-modal{
    width:100%;
  }
  /* いいねボタン専用クラス */
  .fass{
    color:red;
    transition:1s ease-out;
    background-color:#fff;
  }
  .farr{
    color:#999;
    transition:1s ease-out;
    background-color:#fff;
  }
  .good-btn{
    border:none;
    cursor:pointer;
  }
  .good-btn:hover{
    opacity:0.8;
  }
  .good-btn:focus{
    outline:none;
  }
  .good-btn .good-box i{
    font-size:1.1rem;
  }
  .icon:before{
    content:'';
    padding:3px;
    border-left:7px solid #9ac4a4;
  }
  .profile-change-btn{
    font-size:1rem;
    width:100px;
  }
  .modal-title{
    font-size:1.2rem;
  }
  .lists-img{
    height:40px;
    width:40px;
    border-radius:50%;
  }
  .detail-title{
    font-size:1.3rem;
  }
  .details-img{
    height:50px;
    width:50px;
    border-radius:50%;
  }
  .user-tool-update-btn{
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:blue;
  }
  .user-tool-update-btn:hover{
    cursor:pointer;
    opacity:0.8;
  }
  .user-tool-update-btn i{
    color:#4ab0df;
  }
  .user-tool-btns{
    display:inline-block;
    width:49%;
    font-size:1.3rem;
    border:1px solid #ddd;text-align:center;
    color:#4ab0df;
  }
  .user-tool-btns:hover{
    cursor:pointer;
    opacity:0.8;
  }
  .user-tool-btns i{
    color:#4ab0df;
  }
  .update-modal-title{
    font-size:1.3rem;
  }
  .update-btn{
    font-size:1.3rem;
    width:25%;
  }
  .create-btn{
    font-size:1rem;
    width:25%;
  }
  .no-publish-title{
    padding-left:0;
  }
  .publish-btn-description{
    color:#aaa;
    font-size:.8rem;
  }
  .create-form{
    padding:5px;
  }
}

/* パソコン用 */
@media screen and (min-width:781px){
  body{
    padding:0;
    margin:0;
    font-size:14px;
  }
  /* ヘッダー */
  #lists header,#detail header{
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    width:100%;
    height:70px;
    margin:0 auto;
    background-color:yellow;
  }
  #top .logo{
    float:left;
    margin:20px 0 0 40px;
  }
  #lists .logo,#detail .logo{
    float:left;
    color:#333;
    font-family:'Bitter',serif;
  }
  #lists .logo .menu-btn,#detail .logo .menu-btn{
    float:left;
    height:70px;
    width:5rem;
  }
  #lists .logo .menu-link,#detail .logo .menu-link{
    color:#999;
    font-size:45px;
    margin-left:20px;
  }
  #lists .logo .menu-btn:hover,#detail .logo .menu-btn:hover{
    text-decoration:none;
    opacity:0.8;
    background-color:#ffd700;
  }
  #lists .logo h1,#detail .logo h1{
    margin-top:10px;
    color:#333;
    font-family:'Bitter',serif;
    float:right;
    margin-left:30px;
    /* margin-left:150px; */
  }
  .logo span{
    font-size:25px;
    font-family:arial;
  }
  #top .global-nav{
    float:right;
    margin-top:40px;
    margin-right:100px;
  }
  #lists .global-nav,#detail .global-nav{
    float:right;
    margin-top:10px;
    margin-right:100px;
  }
  .global-nav li{
    float:left;
    margin:0 20px;
    font-size:20px;
    list-style:none;
  }
  #lists .global-nav li,#detail .global-nav li{
    float:left;
    margin:0 20px;
    list-style:none;
    font-size:30px;
    color:#666;
  }
  #lists .global-nav li:hover,#detail .global-nav li:hover{
    opacity:0.8;
    cursor:pointer;
  }
  

  /* アプリ説明 */
  #main .base-title h1{
    font-family:'Bitter',serif;
    font-size:44px;
    margin-top:20px;
    padding-left:20px;
  }
  #main .base-title p{
    padding-top:20px;
    font-size:16px;
    font-family:arial;
    padding-left:20px;
    padding-bottom:20px;
  }
  #main .base-image{
    margin:auto auto;
  }

  /* --------------------------------- */
  /* メインコンテンツCSS */
  /* --------------------------------- */
  /* [共通CSS] */
  #main {
    position:relative;
    margin-top:70px;
  }
  .page-link{
    color:#009cd3;
  }
  .update-btn{
    width:30%;
    font-size:1.3rem;
  }
  .create-btn{
    width:10%;
    font-size:1.3rem;
  }
  .modal-header{
    background:#fcff42;
  }
  .modal-body{
    background:rgb(243,243,243);
  }
  .modal-body .mini-ul li{
    font-size:12px;
  }
  /* モーダル編集の更新ボタン */
  .create_send_btn .update-btn{
    width:20%;
    font-size:1.1rem;
  }

  /* [トップ画面CSS] */
  #top header{
    width:100%;
    height:100px;
    margin:0 auto;
    background-color:yellow;
  }
  #top .global-nav li a{
    color:#666;
  }
  #top .global-nav li a:hover{
    border-bottom:2px solid #ffffff;
    text-decoration:none;
  }
  #top{
    clear:both;
  }
  .top-title h1{
    font-size:100px;
    line-height:1;
    color:#ffd744;
    font-family:'Bitter',serif;
    margin-bottom:40px;
    margin-top:100px;
    margin-left:150px;
  }
  .top-image{
    float:right;
    margin-right:150px;
  }
  .top-image img{
    height:500px;
    width:500px;
    border:3px solid yellow;
    border-radius:250px;
  }
  .top-content p{
    margin-top:130px;
    margin-left:150px;
  }
  .top-start-btn p a{
    background-color:#009cd3;
    color:#fff;
    font-size:20px;
    font-family:'Bitter',serif;
    width:185px;
    display:block;
    text-align:center;
    line-height:50px;
    margin-top:20px;
    border-radius:5px;
    border:3px solid #009cd3;
    margin-left:150px;
    margin-top:80px;
  }
  .top-start-btn p a:hover{
    text-decoration:none;
    background-color:#fff;
    color:#009cd3;
  }

  /* [ログイン画面CSS] */
  .create-form{
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.322);
    border-radius:5px;
    background:#eee;
  }

  /* [新規/人気_一覧画面CSS] */
  .lists-title h2{
    font-size:24px;
  }

  /* [製作物_詳細画面CSS] */
  .detail-description{
    /* box-shadow:0 4px 8px rgba(0, 0, 0, 0.322); */
    box-shadow:0 3px 7px rgba(0,0,0,.2);
    font-size:14px;
    border-radius:5px;
  }
  .detail-description p{
    min-height:200px;
    max-height:200px;
    /* max-height超えるとそれ以降は「...」に変化 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .detail-description-title{
    border-bottom:2px solid #999;
    font-size:28px;
    font-family:serif;
    font-weight:bold;
  }
  .detail-producter{
    border-bottom:2px solid #999;
    font-size:22px;
    font-family:serif;
    font-weight:bold;
  }
  .detail-product-img{
    box-shadow:0 3px 7px rgba(0,0,0,.2);
    width:100%;
    height:350px;
  }
  .detail-user-profile{
    box-shadow:0 3px 7px rgba(0,0,0,.2);
  }

  /* [共通カードスタイル] */
  .card{
    box-shadow:0 3px 5px rgba(0,0,0,.2);
    border-radius:5px;
  }
  .card-img-title{
    width:100%;
    height:220px;
    min-width:100%;
    min-height:220px;
  }


  /* --------------------------------- */
  /* サイドメニューCSS */
  /* --------------------------------- */
  #main .click-menu{
    position:fixed;
    top:70px;
    left:-100%;
    width:20%;
    height:100%;
    box-shadow:0 3px 5px rgba(0,0,0,.2);
    border-radius:5px;
    transition:0.3s;
    background:#fff;
  }
  #main .click-menu.open{
    left:0;
    transition:0.2s;
    background:#fff;
  }
  #main .boxs{
    height:1rem;
    width:100%;
  }
  .menu-content .menus{
    font-size:24px;
    line-height:2;
  }
  .menu-content .menus .menu-link{
    color:#333;
  }
  .menu-content .menus .menu-link:hover{
    opacity:0.8;
  }
  #main .container{
    transition:1s ease-out;
  }
  #main .container.open{
    width:100%;
    margin:0 0 0 auto;
    transition:1s ease-out;
  }

  .profile-modal{
    width:500px;
    margin:0 auto;
  }


  /* いいねボタン */
  .fass{
    color:red;
    transition:1s ease-out;
  }
  .farr{
    color:#999;
    transition:1s ease-out;
  }
  .good-btn{
    border:none;
    cursor:pointer;
    background:#fff;
  }
  .good-btn:hover{
    opacity:0.8;
  }
  .good-btn:focus{
    outline:none;
  }
  .icon:before{
    content:'';
    padding:3px;
    border-left:7px solid #9ac4a4;
  }
  .user-tool-btns{
    display:inline-block;
    width:49%;
    font-size:28px;
    border:1px solid #ddd;
    text-align:center;
    color:#4ab0df;
  }
  .user-tool-btns:hover{
    cursor:pointer;
    opacity:0.8;
  }
  .user-tool-btns i{
    color:#4ab0df;
  }
  .user-tool-update-btn{
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:blue;
  }
  .user-tool-update-btn:hover{
    cursor:pointer;
    opacity:0.8;
  }
  .user-tool-update-btn i{
    color:#4ab0df;
  }
  .login-btn{
    font-size:20px;
    width:100px;
  }
  .login-form{
    width:500px;
    margin:0 auto;
  }
  .profile-change-btn{
    font-size:20px;
    width:100px;
  }
  .lists-img{
    height:50px;
    width:50px;
    border-radius:50%;
  }
  .details-img{
    height:60px;
    width:60px;
    border-radius:30px;
  }
  .publish-btn-description{
    color:#aaa;
    font-size:.8rem;
  }
  
}
